testing:
  enabled: false

airflow:
  useStandardNaming: true

  executor: KubernetesExecutor

  postgresql:
    image:
      registry: docker.io
      repository: bitnami/postgresql
      tag: latest

  dags:
    persistence:
      enabled: false

    gitSync:
      enabled: true
      repo: https://github.com/rubenkam/gitops-airflow
      branch: main
      subPath: "dags"
    
  triggerer:
    persistence:
      enabled: true
  
  logs:
    persistence:
      enabled: false
      size: 10Gi
      storageClassName: "standard"
  
  createUserJob:
    useHelmHooks: false

  migrateDatabaseJob:
    useHelmHooks: false
    
  envFrom:
    - secretRef:
        name: airflow-runtime-connections